= content_for :page_title, home_page_title

.text-center
  %h1.text-5xl.font-bold{ class: "text-[#00aeff]" }
    .inline-block{ class: "scale-x-[-1]" } 🚙
    Hello from Carow 🚙

  .div{class: "mt-[250px]" }
    = link_to "Go to Carwow", "https://carwow.co.uk", class: "text-3xl rounded-lg border-2 bg-white p-2 text-[#00aeff] hover:text-white hover:bg-[#00aeff] inline-block w-[300px]", id: "go_to_carwow_uk"
  %div.mt-5
    = link_to "Gehe nach Carwow", "https://carwow.co.uk", class: "text-3xl rounded-lg border-2 bg-white p-2 text-[#00aeff] hover:text-white hover:bg-[#00aeff] inline-block w-[300px]", id: "go_to_carwow_de"
  %div.mt-5
    = link_to "Ir a Carwow", "https://carwow.es", class: "text-3xl rounded-lg border-2 bg-white p-2 text-[#00aeff] hover:text-white hover:bg-[#00aeff] inline-block w-[300px]", id: "go_to_carwow"
